body {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}

.logo-spotify {
    color: white;
    margin: 0 auto;
    width: 69px;
    height: 80px;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 15px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.form-signin input {
    margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 70px;
}

.album__image {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border: solid black 5px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}


.play-icon__wrapper {
    opacity: 0;
    position: absolute;
    background-color: black;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.play-icon__wrapper:hover {
    opacity: 0.5;
    color: black;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0.8;
}